<script>
  import Asciinema from "../lib/Asciinema.svelte";
</script>

## Wordlist Attack

For this first exercise we will use a wordlist attack to crack an NTLM hash using Hashcat.

> $> `hashcat -m 1000 ntlm.txt /usr/share/wordlists/rockyou.txt`

* `-m 1000` - Use [hash mode](https://hashcat.net/wiki/doku.php?id=example_hashes) 1000 (NTLM)
* `ntlm.txt` - The hash file to crack
* `/usr/share/wordlists/rockyou.txt` - The wordlist to use


<Asciinema path="ntlm.cast"/>


Once complete we can see that for the hash in `ntlm.txt`, the password is `password`
